@import 'variables';

//Anadir linea animada debajo de link <a> tras hacer hover
a::after{
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5px;
    background-color: $secondary-color;
    // transform-origin: left;
    transition: transform 0.3s linear;
    transform: scaleX(0);
}

a:hover::after{
    transform: scaleX(1);
}

//Extiende caracteristicas de a::after
.log-in::after{
    @extend a::after;
}